html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.section {
    display: flex;
    padding: 20px;
  }
  
  .section p {
    flex: 1;
    padding: 20px;
  }